.navbar {
    background-color: #181a1f;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    width: 90%;
}

.nav-link {
    color: #fff;
    font-size: 1em;
    padding: 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: gold;
}

.nav-link:active {
    color: gold;
}

.navbar-links {
    height: 100%;
}

.navbar-icon {
    fill: #fff;
    height: 100%;
}

.navbar-icon:hover {
    fill: gold;
}

.navbar-icon:active {
    fill: gold;
}

@media (max-width: 599px) and (min-width: 0px) {
    .nav-link {
        font-size: calc(0.5em + 6px);
    }
}

@media (max-width: 370px) and (min-width: 0px) {
    .nav-link {
        font-size: calc(0.5em + 3px);
    }
}