.app-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.app-article {
  margin-top: 50px;
  margin-left: 5%;
  width: 65%;
}

@media (max-width: 599px) and (min-width: 0px) {
  .app-article{
      width: 90%;
  }
}

h1 {
  font-size: 36px;
  margin-block-start: 0m;
  margin-block-end: 0;
}

p {
  font-size: 16px;
}
